<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <!-- RESPONSIVE TOGGLER -->
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- NAVBAR BRAND LINK -->
  <a class="navbar-brand" href="#">Write:Now</a>

  <!-- NAVBAR LINKS -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/stories">Stories</a>
      </li>
    </ul>
    <!-- LOGIN & SIGNUP -->
    <form>
      <button type="submit" (click)="goToSignup()">Signup</button>
      <button type="submit" (click)="goToLogin()">Login</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>